{% extends 'base.html.twig' %}

{% block title %}Bildergalerie{% endblock %}

{% block covercontent %}
            <div class="row grid">
                <div class="grid-sizer"></div>
                {% for image in images %}
                    <div class="grid-item">
                        <a href="../data/uploaded_images/{{ image.filename }}" data-lightbox="masonry">
                            <img src="../data/uploaded_images/{{ image.filename }}" class="card-img-top">
                        </a>
                    </div>
                {% endfor %}
            </div>
{% endblock %}
