<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/favicon.png" sizes="48x48" >
    <i class="fa-regular fa-heart"></i>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</head>
<body>
{% block nav %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
