{% extends 'base.html.twig' %}

{% block title %}Wir trauen uns{% endblock %}

 {% block coverheading %}
     <h1 class="cover-heading">Wir trauen uns!</h1>
     {% include 'flash_messages.html.twig' %}
 {% endblock %}
{% block covercontent %}

{% endblock %}
